'{% extends 'menu.html' %}
{% load staticfiles %}
{% block container %}
        <form method="post" action="" class="text-center" style="max-width: 550px;margin:0 auto">
            <h6>{{ question }}</h6>
            {% for answer in answers %}
                <input type="radio" name="answer" value="{{ answer.id }}">{{ answer.name }} - {{ answer.extra }}<br>
            {% endfor %}
            <input type="submit" value="verify" class="btn btn-sm btn-primary btn-block"/>
        </form>
{% endblock %}