{% extends 'menu.html' %}
{% load staticfiles %}
{% block container %}

    <h3>Activities</h3>
    <br>
        {% for unity in object_list %}
            <table class="table">
                <thead>
                    {% if unity.level == 1 %}
                        <tr class="success">
                            <th>Level {{ unity.level }} - {{ unity.name }}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    {% elif unity.level == 2 %}
                        <tr class="warning">
                            <th>Level {{ unity.level }} - {{ unity.name }}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    {% else %}
                        <tr class="danger">
                            <th>Level {{ unity.level }} - {{ unity.name }}</th>
                            <th></th>
                            <th></th>
                        </tr>
                    {% endif %}
                </thead>
                <thead>
                    <tr>
                        <th>Lesson</th>
                        <th style="width: 10%">Done</th>
                        <th style="width: 10%"></th>
                    </tr>
                </thead>
                <tbody>
                {%  for lesson in unity.get_lessons %}
                    <tr>
                        <td>
                            {{ lesson.name }}
                        </td>
                        <td>
                            {% if lesson.results.all %}
                                <i class="fui-check-inverted"></i>
                            {% endif %}
                        </td>
                        <td>
                            <a href="{%  url 'question' lesson.id 1 %}" class="btn btn-sm btn-default">Go <i class="fui-play"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endfor %}
{% endblock %}